<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container body-content">
<nav th:replace="fragments :: page-header"></nav>
<div><h1>Choose a recipe to delete:</h1>
    <div>
        <form method="post">
            <div th:each="recipe : ${recipesToDelete} ">
                <input type="radio"th:value="${recipe.id}" th:name="deleteThis"/>
                <lable  th:text="${recipe.name}"/>
                <br>
            </div>
            <br>
            <button type="submit" value="Submit">Submit</button>
        </form>
    </div>
</div>
</body>
</html>