<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form method='post'>
    <div>
        <img src="./images/meal-placeholder.jpg">

    </div>
    <div>
        <label>Dish Name
            <input name="name" class="form-control"/>
        </label>
    </div>
    <div>
        <label>
            Ingredients:
            <input type="text">
            <input type="button" value="Add" class="form-control">
        </label>
    </div>
    <div>
        <label>
            Preperation Instructions:
             <br>
            <textarea name="description" class="form-control" >
            </textarea>
        </label>
    </div>
    <div>
        <label>Category
            <select name="Category">
                <option value="cake">Cake</option>
            </select>
        </label>
    </div>
    <input type="submit" value="Submit">
</form>

</body>
</html>