<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form method='post'>
    <div>
        <img src="./images/meal-placeholder.jpg">

    </div>
    <div>
        <label>Dish Name
            <input name="name" class="form-control"/>
        </label>
    </div>
    <div>
        <label>
            Ingredients:
            ingredient1: <input type="text" name="ingredient1"> <br>
            ingredient2: <input type="text" name="ingredient2"> <br>
            ingredient3:<input type="text" name="ingredient3"> <br>
            ingredient4:<input type="text" name="ingredient4"> <br>
            ingredient5:<input type="text" name="ingredient5"> <br>
            <input type="button" value="Add" class="form-control">
        </label>
    </div>
    <div>
        <label>
            Preparation Instructions:
             <br>
            <textarea name="description" class="form-control" >
            </textarea>
        </label>
    </div>
    <div>
        <label>Category
            <select name="category">
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}"
                ></option>
            </select>
        </label>
    </div>
    <input type="submit" value="Submit">
</form>

</body>
</html>